fastapi>=0.95.0
uvicorn>=0.22.0
python-multipart
diffusers>=0.24.0
transformers>=4.35.0
torch>=2.0.0
torchvision>=0.15.0
pillow>=9.5.0
matplotlib>=3.7.0
tqdm>=4.66.0
psutil>=5.9.0
numpy>=1.24.0
accelerate>=0.25.0
safetensors>=0.4.0
peft
pydantic>=2.4.2


